*, *::before, *::after {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    @include setBrowserPrefix(box-sizing, border-box);
}

body {
    font-family: $font-roboto;
    font-size: $font-size-default;
    color: $color-dark-blue;
}

a {
    text-decoration: none;
}

img {
    width: auto;
    max-width: 100%;
    @include setBrowserPrefix(object-fit, cover, "o");
    @include setBrowserPrefix(object-position, center, "o");
}

ul {
    li {
        list-style: none;
    }
}

@include theme() {
    &button {
        text-decoration: none;
        display: inline-block;
        border: none;
        font-size: 1rem;
        font-family: inherit;
        color: $color-white;
        cursor: pointer;
        background-color: $color-gray;
        padding: 12px 26px;
        border-radius: 30px;
        transition: all 0.3s ease;

        &.blue {
            background-color: #1544B1;
        }

        &.orange {
            background-color: #faa828;
        }

        &.black {
            background-color: #000;
        }

        &.clear {
            background-color: transparent;
            text-decoration: underline;
            padding: 0;
        }

        &.over-black:hover {
            background-color: #000;
        }

        &.over-red:hover {
            background-color: #fb3c3c;
        }

        &.over-clear-red:hover {
            color: #fb3c3c;
        }
    }

    &section-title {
        text-align: center;
        margin-bottom: 40px;
        font-family: $font-hind-siliguri;
        font-size: 1.8em;
        font-weight: 700;
        line-height: 1.15em;
    }

    &divider {
        width: 70px;
        height: 4px;
        background-color: $color-blue;
        margin: 20px auto;
    }

    &product {
        &-list {
            @include containerFluid;
            overflow: hidden;
        }

        &-item {
            .image {
                @include relative;

                img {
                    @include containerFluid;
                }
            }

            .discount {
                padding: 5px;
                background-color: $color-blue;
                color: $color-white;
                font-size: 0.8em;
                @include absolute(10px, 10px);
            }

            .info {
                padding: 20px 10px;
                text-align: center;
            }

            .name {
                margin-bottom: 10px;

                h1, h2 {
                    font-size: 1em;
                    font-weight: 400;
                    color: $color-gray;
                }
            }

            .rating {
                color: $color-orange;
                margin-bottom: 10px;
            }

            .price-action {
                overflow: hidden;
                height: 33px;
                @include relative;

                &:hover {
                    .link {
                        top: -100%;
                    }
                }

                .price, .action {
                    padding-block: 5px;
                }

                .actual-price {
                    color: $color-light-gray;
                    text-decoration: line-through;
                }
            }

            .link {
                color: $color-dark-blue;
                font-weight: 500;
                display: block;
                @include containerFluid;
                @include absolute;
                @include transition;
            }
        }
    }
}