*, *::before, *::after {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    @include setBrowserPrefix(box-sizing, border-box);
}

body {
    font-family: $font-open-sans;
    font-size: $font-size-default;
    color: $color-dark-blue;
}

a {
    text-decoration: none;
}

img {
    width: auto;
    max-width: 100%;
    @include setBrowserPrefix(object-fit, cover, "o");
    @include setBrowserPrefix(object-position, center, "o");
}

ul {
    li {
        list-style: none;
    }
}

i {
    &.fa-solid, &.fa-regular, &.fa-brands {
        vertical-align: middle;
    }
}

input:not([type="range"]), textarea {
    padding: 15px 20px;
    color: $color-dark-blue;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: 1px solid $color-light-gray;
    @include borderRadius(15px);

    &::placeholder {
        color: $color-light-gray;
    }
}

@include theme() {
    &button {
        text-decoration: none;
        text-align: center;
        display: inline-block;
        border: none;
        font-size: 1rem;
        font-family: inherit;
        color: $color-white;
        cursor: pointer;
        background-color: $color-gray;
        padding: 12px 26px;
        border-radius: 30px;
        transition: all 0.3s ease;

        &.blue {
            background-color: $color-blue;
        }

        &.orange {
            background-color: $color-orange;
        }

        &.black {
            background-color: $color-black;
        }

        &.outline-black {
            background-color: transparent;
            color: $color-black;
            border: 1px solid $color-black;
        }

        &.clear {
            background-color: transparent;
            text-decoration: underline;
            padding: 0;
        }

        &.over-black:hover {
            background-color: $color-black;
            color: $color-white;
        }

        &.over-red:hover {
            background-color: $color-red;
            color: $color-white;
        }

        &.over-blue:hover {
            background-color: $color-blue;
            color: $color-white;
        }

        &.over-clear-red:hover {
            color: $color-red;
        }
    }

    &section-title {
        text-align: center;
        margin-bottom: 40px;
        font-family: $font-hind-siliguri;
        font-size: 1.2em;
        font-weight: 700;
        line-height: 1.15em;

        @include setResponsiveDesign($breakpoint-medium) {
            font-size: 1.6em;
        }

        @include setResponsiveDesign($breakpoint-extra-large) {
            font-size: 1.8em;
        }
    }

    &divide-section {
        @include containerFluid;
        padding-block: 30px 50px;

        &__container {
            @include container2;
            @include flex(flex-start, flex-start);
            gap: 60px;
        }
    }

    &divider {
        width: 70px;
        height: 4px;
        background-color: $color-blue;
        margin: 20px auto;

        &.left {
            margin-inline: 0 auto;
        }
    }

    &card {
        @include setResponsiveDesign($breakpoint-small) {
            @include borderRadius;
        }

        .title {
            h1, h2 {
                font-size: 2.6em;
                line-height: 1;

                span {
                    display: block;
                }

                .thin {
                    font-weight: 300;
                }

                .white {
                    color: $color-white;
                }
            }
        }

        .subtitle {
            font-weight: 700;

            &.orange {
                color: $color-orange;
            }

            &.red {
                color: $color-red;
            }
        }

        .text {
            font-weight: 700;

            &.white {
                color: $color-white;
            }
        }
    }

    &product {
        &-list {
            @include containerFluid;
            overflow: hidden;
        }

        &-item {
            .image {
                @include relative;

                img {
                    @include containerFluid;
                }
            }

            .discount {
                padding: 5px;
                background-color: $color-blue;
                color: $color-white;
                font-size: 0.8em;
                @include absolute(10px, 10px);
            }

            .info {
                padding: 20px 10px;
                text-align: center;
            }

            .name {
                margin-bottom: 10px;

                h1, h2 {
                    font-size: 1em;
                    font-weight: 400;
                    color: $color-gray;

                    a {
                        color: inherit;
                    }
                }
            }

            .rating {
                color: $color-orange;
                margin-bottom: 10px;
            }

            .price-action {
                overflow: hidden;
                height: 33px;
                @include relative;

                &:hover {
                    .link {
                        top: -100%;
                    }
                }

                .price, .action {
                    padding-block: 5px;
                }

                .actual-price {
                    color: $color-light-gray;
                    text-decoration: line-through;
                }
            }

            .link {
                color: $color-dark-blue;
                font-weight: 500;
                display: block;
                @include containerFluid;
                @include absolute;
                @include transition;
            }
        }
    }

    &search {        
        @include relative;

        input {
            border: none;
            background-color: $color-lighter-gray;
            color: $color-gray;
            @include borderRadius(50px);
            @include containerFluid;

            &::placeholder {
                color: $color-gray;
            }
        }

        button {
            @include absolute(50%, unset);
            right: 14px;
            transform: translateY(-50%);
            background: none;
            border: none;
            font-size: 1em;
            cursor: pointer;
        }
    }
}