body:has(.fz-product) {
    .fz-header__wrapper {
        border-color: transparent;
    }
}

@include theme() {
    &product {
        @include containerFluid;
        padding-block: 100px 60px;
        background-color: $color-lighter-gray;

        &__container {
            @include container2;
        }

        &__breadcumb {
            margin-bottom: 40px;
            color: $color-gray;

            a {
                color: inherit;
            }
        }

        &__wrapper {
            @include flex(flex-start, flex-start);
            gap: 40px 20px;
        }

        &__images {
            @include flex1;
            @include flex(flex-start, stretch);
            gap: 20px;
            @include container(480px, 0);

            @include setResponsiveDesign($breakpoint-extra-large) {
                @include flexBasis(45%);
                max-width: none;
                margin: 0;
                @include rowReverse;
            }

            &-featured {
                @include flex1;
                @include relative;

                @include setResponsiveDesign($breakpoint-extra-large) {
                    @include flexBasis(calc(100% - 60px), 20px);
                }
            }

            &-area {                
                @include flex(flex-start, stretch, nowrap);
                overflow: hidden;
            }

            &-navigation {
                i {
                    @include absolute(unset, unset);
                    background-color: $color-white;
                    width: 34px;
                    height: 34px;
                    cursor: pointer;
                    @include flex;

                    &.prev {
                        top: 50%;
                        left: 10px;
                        transform: translateY(-50%);
                        color: $color-gray;
                        @include rounded;
                    }

                    &.next {
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        color: $color-gray;
                        @include rounded;
                    }

                    &.expand {
                        bottom: 10px;
                        right: 10px;
                        color: $color-light-gray;
                        border: 1px solid $color-light-gray;
                        @include borderRadius(5px);
                    }
                }
            }
            
            &-thumbs {
                @include flex1;
                @include flex(flex-start, flex-start, nowrap);
                gap: 12px;
                height: 60px;

                @include setResponsiveDesign($breakpoint-extra-large) {
                    @include flexBasis(60px);
                    @include column;
                }

                .thumb {
                    width: 60px;
                    cursor: pointer;
                    border: 1px solid transparent;
                    @include flex;
                    @include transition;

                    &:hover, &.selected {
                        border-color: $color-dark-blue;
                    }
                }
            }
        }

        &__overview {
            @include flex1;

            @include setResponsiveDesign($breakpoint-extra-large) {
                @include flexBasis(55%, 20px);
            }
        }

        &__title {
            margin-bottom: 10px;

            h1 {
                font-weight: 500;
            }
        }

        &__price {
            font-size: 1.6em;
            color: $color-gray;
            margin-bottom: 40px;
        }

        &__info {
            color: $color-gray;
            margin-bottom: 40px;
        }

        &__size, &__color {
            color: $color-gray;
            margin-bottom: 40px;

            strong {
                color: $color-dark-blue;
            }

            .title {
                margin-bottom: 10px;
            }
        }

        &__color {
            ul {
                @include flex(flex-start);
                gap: 10px;
                margin-bottom: 10px;
            }

            li {
                width: 30px;
                height: 30px;
                border: 1px solid transparent;
                cursor: pointer;
                @include borderRadius(3px);
                overflow: hidden;
                @include transition;

                &:hover, &.selected {
                    border-color: $color-dark-blue;
                }

                &.selected {
                    i {
                        opacity: 1;
                    }
                }
            }

            .select-color {
                @include containerFluid(true);
                @include flex;
                color: $color-white;
                border: 2px solid $color-light-gray;

                i {
                    opacity: 0;
                    @include transition;
                }
            }

            .clear {
                font-size: inherit;
                font-family: inherit;
                color: inherit;
                background-color: $color-white;
                border: none;
                padding: 4px 12px;
                cursor: pointer;
            }
        }

        &__remaining {
            margin-bottom: 40px;

            p {
                color: $color-gray;
                margin-bottom: 10px;
            }

            .bar {
                width: 100%;
                height: 10px;
                background-color: $color-light-gray;
            }

            .qt {
                width: 45%;
                height: 100%;
                background-color: $color-blue;
            }
        }

        &__purchase {
            margin-bottom: 40px;
            @include flex(flex-start, center);
            gap: 20px 10px;

            .quantity {
                @include flex(space-between, center, nowrap);
                @include containerFluid;
                background-color: $color-white;
                padding: 12px;
                @include borderRadius(30px);

                @include setResponsiveDesign($breakpoint-small) {
                    width: 160px;
                }

                button {
                    color: $color-gray;
                    background: none;
                    border: none;
                    cursor: pointer;
                }
            }

            .fz-button {
                text-transform: uppercase;
                @include containerFluid;

                @include setResponsiveDesign($breakpoint-small) {
                    width: auto;
                }
            }

            .wishlist {
                @include flex1;
                text-align: center;

                @include setResponsiveDesign($breakpoint-small) {
                    text-align: left;
                }

                a {
                    color: $color-dark-blue;
                }
            }
        }

        &__details {
            margin-bottom: 60px;
            line-height: 1.8em;
            color: $color-gray;

            span {
                color: $color-dark-blue;
            }
        }

        &__payments {          
            @include container($breakpoint-medium, 0);
            padding: 20px 40px;
            border: 3px solid $color-dark-blue;
            text-align: center;

            @include setResponsiveDesign($breakpoint-extra-large) {
                width: fit-content;
                max-width: none;
                margin: 0;
            }

            .title {
                font-size: 1.2em;
                font-weight: 700;
                text-transform: uppercase;
                background-color: $color-lighter-gray;
                width: fit-content;
                margin-inline: auto;
                margin-block: -36px 18px;
                padding-inline: 12px;
            }

            img {
                filter: saturate(0);
            }
        }
    }
}