@include theme() {
    &divide-section__container:has(> .fz-blog-page__side, > .fz-blog-page__container) {
        padding-block: 60px 0;
    }

    &blog-page {
        &__side {
            @include flex1;

            @include setResponsiveDesign($breakpoint-extra-large) {
                @include flexBasis(20%);
            }

            &-search {
                margin-bottom: 40px;
            }

            &-recent {
                margin-bottom: 40px;
            }

            &-title {
                margin-bottom: 20px;
            }

            &-item {
                &:not(:last-child) {
                    margin-bottom: 10px;
                }

                a {
                    color: $color-gray;
                }
            }
        }

        &__container {
            @include flex1;
            @include container(480px, 0);

            @include setResponsiveDesign($breakpoint-medium) {
                max-width: none;
            }

            @include setResponsiveDesign($breakpoint-extra-large) {
                @include flexBasis(80%, 40px);
            }
        }

        &__post {
            @include flex(flex-start, flex-start);
            gap: 20px;
            padding-bottom: 40px;

            @include setResponsiveDesign($breakpoint-xx-large) {
                padding-bottom: 60px;
            }

            &:not(:last-child) {
                margin-bottom: 40px;
                border-bottom: 1px solid $color-light-gray;

                @include setResponsiveDesign($breakpoint-xx-large) {
                    margin-bottom: 60px;
                }
            }

            &-image {
                @include flex1;

                @include setResponsiveDesign($breakpoint-medium) {
                    @include flexBasis(260px);
                }

                img {
                    width: 100%;
                }
            }

            &-info {
                @include flex1;

                @include setResponsiveDesign($breakpoint-medium) {
                    @include flexBasis(calc(100% - 260px), 20px);
                }
            }

            &-title {
                margin-bottom: 20px;

                h1 {
                    font-size: 1.2em;
                }

                a {
                    color: inherit;
                }
            }

            &-details {
                margin-bottom: 20px;
                font-size: 0.9em;
            }

            &-desc {
                color: $color-light-gray;
            }
        }
    }
}