@include theme() {
    &blog {
        @include flex1;
        @include relative;

        @include setResponsiveDesign($breakpoint-large) {
            @include flexBasis(66%, 120px);
        }

        .fz-divider {
            @include setResponsiveDesign($breakpoint-large, true) {
                margin-inline: auto;
            }
        }

        &__heading {
            // @include flex(space-between, center, nowrap);
            margin-bottom: 40px;

            // .fz-button {
            //     padding: 5px 12px;

            //     @include setResponsiveDesign($breakpoint-small) {
            //         padding: 12px 26px;
            //     }
            // }
        }

        &__title {
            margin: 0;

            @include setResponsiveDesign($breakpoint-large) {
                text-align: left;
            }

            h1 {
                font-size: 1.2em;
            }
        }

        &__posts {
            @include flex(flex-start, stretch);
            gap: 40px 20px;
        }

        &__post {
            @include flex1;
            @include container($breakpoint-small, 0);

            @include setResponsiveDesign($breakpoint-xx-large) {
                @include flex3(20px);
            }

            &-image {
                margin-bottom: 20px;
                height: 300px;

                img {
                    @include containerFluid(true);
                    @include borderRadius;
                }
            }

            &-date {
                color: $color-gray;
                font-size: 0.8em;
                margin-bottom: 10px;
            }

            &-title {
                margin-bottom: 10px;
            }

            &-action {
                .fz-button {
                    @include containerFluid;

                    @include setResponsiveDesign($breakpoint-small) {
                        width: auto;
                    }
                }
            }
        }

        &__cta {
            margin-top: 40px;
            @include flex;

            @include setResponsiveDesign($breakpoint-large) {
                @include absolute(0, unset);
                right: 0;
                margin-top: 44px;
            }

            .fz-button {
                @include containerFluid;

                @include setResponsiveDesign($breakpoint-small) {
                    width: auto;
                }
            }
        }
    }
}