@include theme() {
    &category {
        @include containerFluid;
        margin-bottom: 80px;

        @include setResponsiveDesign($breakpoint-extra-large) {            
            padding-block: 140px 0;
        }

        @include setResponsiveDesign(1440px) {
            padding-block: 250px 0;
        }

        &__container {
            @include container($container-width, 0);
            @include flex(flex-start, flex-start);

            @include setResponsiveDesign($breakpoint-small) {
                @include container;
                gap: 30px;
            }
        }

        &__col1 {
            @include flex1;
            @include container($breakpoint-small, 0);

            @include setResponsiveDesign($breakpoint-extra-large) {
                @include flexBasis(66%, 30px);
                max-width: none;
            }
        }

        &__col2 {
            @include flex1;
            @include container($breakpoint-small, 0);

            @include setResponsiveDesign($breakpoint-extra-large) {
                @include flexBasis(33%);
                max-width: none;
            }
        }

        &__category {
            &1 {
                background-image: $gradient-purple;
                @include relative;
                padding: 20px 20px 260px 20px;
                text-align: center;

                @include setResponsiveDesign($breakpoint-medium) {
                    padding: 82px 20px;
                    text-align: left;
                }

                &-image {
                    @include absolute(unset);
                    bottom: 0;
                    width: 850px;

                    @include setResponsiveDesign(425px) {
                        width: 80%;
                    }

                    @include setResponsiveDesign($breakpoint-medium) {
                        width: auto;
                    }
                }

                &-wrapper {
                    @include relative;
                    margin-left: auto;

                    @include setResponsiveDesign($breakpoint-medium) {
                        width: 50%;

                        @include setResponsiveDesign($breakpoint-extra-large) {
                            width: 40%;
                        }
                    }
                }

                &-subtitle {
                    margin-bottom: 30px;
                }

                &-title {
                    font-size: 1.6em;
                    margin-bottom: 30px;
                }
            }

            &2 {
                background-color: $color-light-blue;
                padding-block: 20px 520px;
                @include relative;
                text-align: center;

                @include setResponsiveDesign($breakpoint-extra-large) {
                    padding-block: 235px 0;
                }

                &-image {
                    @include absolute(unset);
                    bottom: 0;
                    transform: translateY(18px);
                    height: 550px;
                }

                &-wrapper {
                    padding-bottom: 40px;
                    @include relative;
                }

                &-title {
                    font-size: 1.4em;
                    margin-bottom: 20px;

                    @include setResponsiveDesign($breakpoint-extra-large) {
                        text-shadow: -2px -2px 0 $color-blue;
                    }
                }
            }
        }
    }
}