@include theme() {
    &optin {
        @include containerFluid;

        @include setResponsiveDesign($breakpoint-small) {
            padding-bottom: 60px;
        }

        @include setResponsiveDesign($breakpoint-xx-large) {
            padding-top: 120px;
        }

        &__container {
           @include setResponsiveDesign($breakpoint-small) {
                @include container;
           }
        }

        &__wrapper {
            background-image: $gradient-blue;
            padding: 60px 20px 240px 20px;
            @include relative;

            @include setResponsiveDesign(425px) {
                padding-bottom: 320px;
            }

            @include setResponsiveDesign($breakpoint-small) {
                padding-bottom: 400px;
            }

            @include setResponsiveDesign($breakpoint-medium) {
                padding-bottom: 460px;
            }            

            @include setResponsiveDesign(900px) {
                padding-bottom: 540px;
            }

            @include setResponsiveDesign($breakpoint-large) {
                padding-bottom: 680px;
            }

            @include setResponsiveDesign($breakpoint-xx-large) {
                padding: 110px 80px 125px 80px;
            }

            & > * {
                @include relative;
            }
        }

        &__image {
            @include absolute(unset, unset);
            bottom: 0;
            width: 95%;

            @include setResponsiveDesign($breakpoint-small) {
                right: 0;
            }

            @include setResponsiveDesign($breakpoint-xx-large) {
                width: auto;
            }
        }

        &__content {
            text-align: center;

            @include setResponsiveDesign($breakpoint-large) {
                width: 60%;
                margin: auto;
            }

            @include setResponsiveDesign($breakpoint-xx-large) {
                text-align: left;
            }

            @include setResponsiveDesign($breakpoint-xx-large) {
                width: 35%;
                margin-left: 0;
            }
        }

        &__title {
            margin-bottom: 20px;

            .l2 {
                @include setResponsiveDesign($breakpoint-small) {
                    font-size: 1.6em;
                }
            }
        }

        &__text {
            margin-bottom: 20px;
        }

        &__form {
            @include relative;

            input {
                @include containerFluid;
                padding: 21px 24px;
                border: none;
                background-color: $color-white;

                @include setResponsiveDesign($breakpoint-medium) {
                    padding-right: 45%;
                }
            }

            .fz-button {
                @include containerFluid;
                margin-top: 10px;
                padding-block: 21px;
                @include borderRadius(15px);

                @include setResponsiveDesign($breakpoint-medium) {
                    @include borderRadius(10px);
                    @include absolute(5px, unset);
                    bottom: 5px;
                    right: 5px;
                    width: auto;
                    padding-block: 12px;
                    margin: 0;
                }
            }
        }
    }
}